.footer2{
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 1.5rem;

    align-content: center;

    background: cornflowerblue;
}

.tie.is-ancestor{
    padding-top: 2rem;
    padding-bottom: 2rem;
}